{% extends 'layouts/_default.twig' %}

{% block pageName %}Create new planet{% endblock %}

{% block main_content %}
    <h1>Create new planet</h1>
    {% include 'planets/_form.twig' %}
{% endblock %}
