{% extends 'layouts/_default.twig' %}

{% block pageName %}Create new galaxy{% endblock %}

{% block main_content %}
    <h1>Create new galaxy</h1>
    {% include 'galaxies/_form.twig' %}
{% endblock %}
