{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <h1>Welcome to StarTracker, {{ name }}.</h1>
    <p>
        <a href="/galaxies">Galaxies</a><br>
        <a href="/stars">Stars</a><br>
        <a href="/planets">Planets</a>
    </p>
{% endblock %}