<header>
    <div class="brand">STARTRACKER::NODE</div>
    <nav class="site-nav">
        <a href="/">Home</a>
        <a href="/galaxies">Galaxies</a>
        <a href="/stars">Stars</a>
        <a href="/planets">Planets</a>
    </nav>
</header>
